@CHARSET "UTF-8";
	body{
		background-color: #34495e;
		font-family: sans-serif;
	}
.main{
	height: 300px;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -150px;
	background-color: black;
}
.main h1{
	color: white;
	text-align: center;
	margin-top: 50px;
}
.main input{
	text-align: center;
	display: block;
	margin:auto;
	margin-top: 20px;
	border-color: #3498db;
	border-radius: 20px;
	border-width: 3px;
	height: 35px;
	width: 170px;
	background-color: black;
	background: none;
	outline: none;
	color:white;
}
.submit{
	background-color: 	#1E90FF;
    width: 150px;
    display: block;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}
.main input:hover{
	width: 210px;
}
a{
	text-align: center;
	display: block;
	text-decoration: none;
	color: #1E90FF;
}
.error-msgName,.error-msgPwd{
	width: 130px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 10px;
	color: red;
}