<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <filter>
  	<filter-name>SetCharacterFilter</filter-name>
  	<filter-class>filter.SetCharacterFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>CheckSessionFilter</filter-name>
  	<filter-class>filter.CheckSessionFilter</filter-class>
  </filter>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleNumberServlet</servlet-name>
    <servlet-class>servlet.ArticleNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleByTimesServlet</servlet-name>
    <servlet-class>servlet.ArticleByTimesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleByCreateServlet</servlet-name>
    <servlet-class>servlet.ArticleByCreateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CnumberServlet</servlet-name>
    <servlet-class>servlet.CnumberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CdetailServlet</servlet-name>
    <servlet-class>servlet.CdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CshowServlet</servlet-name>
    <servlet-class>servlet.CshowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateClassifyServlet</servlet-name>
    <servlet-class>servlet.CreateClassifyServlet</servlet-class>
  </servlet>









  <filter-mapping>
  	<filter-name>SetCharacterFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
 	<filter-name>CheckSessionFilter</filter-name>
 	<url-pattern>/index.html</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/userInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleNumberServlet</servlet-name>
    <url-pattern>/articleNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleByTimesServlet</servlet-name>
    <url-pattern>/articleByTimesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleByCreateServlet</servlet-name>
    <url-pattern>/articleByCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CnumberServlet</servlet-name>
    <url-pattern>/cnumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CdetailServlet</servlet-name>
    <url-pattern>/cdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CshowServlet</servlet-name>
    <url-pattern>/cshowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateClassifyServlet</servlet-name>
    <url-pattern>/createClassifyServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
